#slv-navbar
{
	display: flex;
}

#slv-navbar.slv-sidebar
{
	flex-direction: column;
	width: 40px;
}

#slv-navbar.slv-topbar
{
	height: 40px;
}

#slv-navbar > :first-child
{
	flex-grow: 1;
}

#slv-navbar.slv-topbar :has(.slv-navbar-item)
{
	display: flex;
}

#slv-navbar svg
{
	fill: #fff;
	width: 25px;
	height: 25px;
}

#slv-navbar-expand
{
	cursor: pointer;
	user-select: none;
}

.slv-sidebar #slv-navbar-expand
{
	padding-bottom: 2px;
	text-align: center;
}

.slv-topbar #slv-navbar-expand
{
	display: none;
	/*display: flex;
	align-items: center;*/
}

/* Make clicking on sidebar's expand button easier */
.slv-sidebar #slv-navbar-expand { padding-bottom: calc(6px + 2px); }
.slv-sidebar:has(#slv-navbar-expand) { padding: 0; width: calc(40px + 6px + 6px); }
.slv-sidebar:has(#slv-navbar-expand) > :first-child { padding: 6px; }

#slv-navbar:not(.slv-expanded) .slv-if-expanded
{
	display: none;
}
