/* Configuration defaults */
:root
{
	--slv-body-lr-margin: 12px;
	--slv-sleeve-padding: 14px;
}

/* Dark Reader notice - disabled if :has(.slv-sidebar) because `display: flex` on body messes with this */
[data-darkreader-mode] body:not(.slv-ignore-darkreader):not(:has(.slv-sidebar)):before,
[data-darkreader-scheme] body:not(.slv-ignore-darkreader):not(:has(.slv-sidebar)):before
{
	display: block;
	background: #bd2626;
	padding: 10px;
	content: "Note: Because Dark Reader is enabled, this page (which is already in dark mode) is looking worse.";
}

/* Improved look */
html
{
	background: #111;
	color: #fff;

	font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body
{
	margin: 8px var(--slv-body-lr-margin);
}

h1
{
	font-weight: 400;
	font-size: 2.5em;
	margin-block: 0.3em;
}

h2
{
	font-weight: 350;
	font-size: 2em;
	margin-block-end: 0.4em;
}

h3
{
	font-weight: 300;
	font-size: 1.5em;
	margin-block-end: 0.4em;
}

p
{
	margin-block: 0.5em;
}

input[type="text"],
input[type="password"]
{
	background: inherit;
	color: inherit;

	border: 1px solid #2a2a2a;

	font-size: 1.3em;

	outline: none;
	background: rgba(0, 0, 0, 0.05);

	padding: 5px;
}

:not(.slv-sleeve) input[type="text"],
:not(.slv-sleeve) input[type="password"]
{
	margin: 3px 0;
}

input[type="text"],
input[type="password"],
.slv-form-width
{
	width: 50%;
}

@media (max-width: 600px)
{
	input[type="text"],
	input[type="password"],
	.slv-form-width
	{
		width: 100%;
	}
}

::placeholder
{
	color: rgba(255, 255, 255, 0.6);
}

form
{
	margin-block-end: 0;
}

a
{
	color: #257afb
}

a:hover
{
	color: #3586ff;
}

a:focus
{
	color: #4791ff;
}

hr
{
	border: 0;
	border-top: 1px solid #222222;
	margin-top: 14px;
}

::selection
{
	background: #40a6ff;
}

/* Hidden */
.slv-hidden
{
	display: none;
}

/* Container */
.slv-container
{
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

/* Sleeve */
.slv-sleeve
{
	background: #0089ff;
	margin-left: calc(var(--slv-body-lr-margin) * -1);
	width: calc(100% - (var(--slv-sleeve-padding) * 2) + (var(--slv-body-lr-margin) * 2));
	padding: var(--slv-sleeve-padding);
}

/* Loader */
@keyframes slv-loader
{
	0%       { content: "..." }
	16.6666% { content: ".. " }
	33.3333% { content: ".  " }
	49.9999% { content: "   " }
	66.6666% { content: "  ." }
	83.3333% { content: " .." }
	100%     { content: "..." }
}

.slv-loader
{
	font-family: monospace;
}

.slv-loader:after
{
	content: "...";
	animation: slv-loader 2s linear infinite;
	white-space: pre;
}

/* Button */
.slv-button, .slv-button:hover, .slv-button:focus, .slv-button:active
{
	color: inherit;
}

.slv-button
{
	text-decoration: none;
	padding: 12px 20px;
	padding-top: 8px;
	display: inline-block;
	background: #257afb;
	border-bottom: 4px solid #0e5bd1;
	user-select: none;
}

.slv-button.slv-danger
{
	background: #c52121;
	border-bottom: 4px solid #8d0000;
}

.slv-button:active
{
	border-bottom-width: 2px;
	margin-bottom: calc(4px - 2px);
	transform: translate(0px, 2px);
}

/* Sidebar */
:has(.slv-sidebar)
{
	margin: 0;
	display: flex;
	flex-direction: row;
}

.slv-sidebar
{
	width: 200px;
	border-right: 1px solid rgb(47, 51, 54);
	padding: 0 var(--slv-body-lr-margin);
}

:has(.slv-sidebar) > :not(.slv-sidebar):nth-of-type(2)
{
	flex-grow: 1;
	margin: 0 var(--slv-body-lr-margin);
}

.slv-sidebar a
{
	color: inherit;
}
